<ul class="beer-list">
	<% @beers.each do |beer| %>
		<%= content_tag :li, '', class: beer.location.status.downcase do %>
			<h2><%= beer.brewer.name %> <em><%= beer.name %></em></h2>
			<%= beer.style.name %><br />
			<%= beer.brewer.location %><br />
			ABV <%= number_to_percentage(beer.abv, precision: 1) %> &mdash;
			500ml: <%= beer_price(beer, 0.5, :tap) %>
			250ml: <%= beer_price(beer, 0.25, :tap) %>
	  	<% end -%>
	<% end %>
</ul>
