<ul>
	<% @beers.each do |beer| %>
		<li class="full">
			<article class="cf">
				<%= content_tag(:b, '', class: beer.location.status.downcase) %>
				<h2><%= beer.brewer.name %> <i><%= beer.name %></i></h2>
		  		<p>
					<%= beer.style.name %><br>
					<%= beer.brewer.location %> &mdash; ABV <%= number_to_percentage(beer.abv, precision: 1) %>
		  		</p>
				<%# <img src="/assets/icons/<%= beer.location.status.downcase %><%#.png" /> %>
			</article>
			<div class="price 500ml">
		  		500ml<br>
				<%= beer_price(beer, 0.5, :tap) %>
			</div>
			<div class="price 250ml">
		  		250ml
				<%= beer_price(beer, 0.25, :tap) %>
			</div> 
	  	</li>
	<% end %>
</ul>
