<%= simple_form_for @beer do |f| %>
	<% if @beer.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@beer.errors.count, "error") %> prohibited this beer from being saved:</h2>
			<ul>
      		<% @beer.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<%= f.input :name,		as: :text %>
	<%= f.association :brewer, collection: Brewer.order("name") %>
	<%= f.association :format %>
	<%= f.input :price, 		as: :float %>
	<% if @beer.freight? %>
		<%= f.input :freight, input_html: { value: @beer.freight }, as: :float %>
	<% elsif @beer.freight == 0 %>
		<%= f.input :freight, input_html: { value: 0.0 }, as: :float %>
	<% else %>
		<%= f.input :freight, input_html: { value: 20.0 }, as: :float %>
	<% end %>
	<%= f.association :style %>
	<%= f.input :abv, 		as: :float %>
	<%= f.input :note, 		as: :text %>
	<%= f.association :location %>
	<%= f.submit "Save", class: "btn btn-large btn-primary" %>

<% end %>
