<p>
  <strong>Beer name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Brewer:</strong>
  <%= @beer.brewer.name %>
</p>

<p>
  <strong>Beer format:</strong>
  <%= @beer.format.name %>
</p>

<p>
  <strong>Beer price:</strong>
  <%= number_to_currency(@beer.price, precision: 2) %>
</p>

<p>
  <strong>Style:</strong>
  <%= @beer.style.name %>
</p>

<p>
  <strong>Beer abv:</strong>
  <%= number_to_percentage(@beer.abv, precision: 2) %>
</p>

<p>
  <strong>Beer note:</strong>
  <%= @beer.note %>
</p>

<p>
  <strong>Location:</strong>
  <%= @beer.location.name %>
</p>

<p>
  <strong>Pricing: </strong>
  <p><strong>500ml Handle  : <%= beer_price(@beer, 500, :handle) %></strong></p>
  <p><strong>465ml Benny   : <%= beer_price(@beer, 465, :benny) %></strong></p>
  <p><strong>300ml Glass   : <%=  beer_price(@beer, 300, :glass) %></strong></p>
  <p><strong>285ml Half    : <%=  beer_price(@beer, 285, :half) %></strong></p>
  <p><strong>1125ml Rigger : <%= beer_price(@beer, 1125, :rigger_small) %></strong></p>
  <p><strong>2000ml Rigger : <%= beer_price(@beer, 2000, :rigger_large) %></strong></p>
</p>

<%= link_to 'Labels', beers_label_path(@beer) %> | 
<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
